.button {
    padding: 9px 27px;
    color: $c-light-dark;
    text-align: center;
    font-family: $ff-inter;
    font-style: normal;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid $c-light-dark;

    &_colored {
        color: $c-colored;
        border: 1px solid $c-colored;
    }
}
