.card {
    &__wrapper {
        padding: 20px 20px 40px 20px;
    }

    .title {
        // correct bad design
        padding-left: 2px;
    }

    &__cards {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
    }
}

.form {
    max-width: 600px;

    &__block-title {
        color: #000;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
    }

    &__box {
        margin-top: 30px;
        padding: 17px 17px 27px;
        border: 3px solid #bb945f;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &__inputs {
        padding: 20px 20px 0;
        background: #bb945f;
    }

    &__title {
        margin-bottom: 20px;
        color: #000;
        font-family: Forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.6px;
    }

    input {
        width: 100%;
        margin-bottom: 25px;
        padding: 8px 20px;
        color: $c-text;
        font-family: Forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.6px;
        border-radius: 10px;
        background: #fff;
        border: none;

        &::placeholder {
            color: #8e8e8e;
        }
    }

    &__button {
        margin-top: 20px;
        text-align: center;
    }
}

.auth {
    &__title {
        color: #000;
        text-align: right;
        font-family: Forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.6px;
    }

    &__text {
        margin-top: 35px;
        color: #000;
        text-align: right;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        letter-spacing: 0.4px;
    }

    &__buttons {
        margin-top: 35px;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }
}
