.contacts {
    min-width: $desktop-content-width;

    &__wrapper {
        padding: 20px 20px 40px 20px;
    }

    .title {
        padding-left: 2px; // correct design
    }

    &__info {
        display: flex;
        max-height: 414px;
        margin-top: 40px;
        justify-content: space-between;
        overflow: hidden;
    }
}

.contacts-info {
    font: normal 400 20px / 40px $ff-primary;
    letter-spacing: 2px;
    text-transform: capitalize;

    a {
        color: $c-dark;
    }

    &__title {
        max-height: 40px;
        margin-bottom: 40px;
        font-weight: 700;
        overflow: hidden;
    }

    &__text {
        max-height: 40px;
        margin: 20px 0;
        overflow: hidden;

        > strong {
            font-weight: 700;
        }
    }

    &__position {
        max-height: 40px;
        margin-top: 40px;
        font-weight: 700;
        overflow: hidden;
    }

    &__map {
        width: 696px;
    }
}
