.contacts {
    min-width: $desktop-content-width;

    @media (max-width: $adaptive-pad-limit) {
        min-width: $pad-content-width;
    }

    &__wrapper {
        padding: 20px 20px 40px 20px;
    }

    .title {
        padding-left: 2px; // correct design
    }

    &__info {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        overflow: hidden;

        @media (max-width: $adaptive-pad-limit) {
            flex-direction: column;
            gap: 100px;
        }
    }
}

.contacts-info {
    max-height: 414px;
    font: normal 400 20px / 40px $ff-primary;
    letter-spacing: 2px;
    text-transform: capitalize;

    a {
        color: $c-dark;
    }

    &__title {
        max-height: 40px;
        margin-bottom: 40px;
        font-weight: 700;
        overflow: hidden;
    }

    &__text {
        max-height: 40px;
        margin-top: 20px;
        overflow: hidden;

        > strong {
            font-weight: 700;
        }
    }

    &__position {
        max-height: 40px;
        margin-top: 40px;
        font-weight: 700;
        overflow: hidden;
    }

    &__map {
        width: 696px;

        @media (max-width: $adaptive-pad-limit) {
            margin: 0 auto;
        }
    }
}
