.favorites {
    min-width: $desktop-content-width;

    @media (max-width: $adaptive-pad-limit) {
        min-width: $pad-content-width;
    }

    @media (max-width: $adaptive-mobile-limit) {
        min-width: $mobile-content-width;
    }

    &__wrapper {
        padding: 20px 20px 40px;
    }

    &__subtitle {
        margin-top: 40px;
        font: normal 700 20px / 24px $ff-primary;
    }

    &__seasons {
        max-width: 700px;
        margin-top: 40px;
    }

    &__books {
        position: relative;
        min-height: 1190px;

        @media (max-width: $adaptive-pad-limit) {
            min-height: 2380px;
        }
    }
}

.seasons {
    display: flex;
    align-items: center;
    list-style: none;

    @media (max-width: $adaptive-mobile-limit) {
        justify-content: space-between;
    }

    > li {
        display: flex;
        align-items: baseline;
        cursor: pointer;

        > input {
            width: 13px;
            height: 13px;
            margin: 2px;
            appearance: none;
            -webkit-appearance: none;
            background: $c-background;
            border-radius: 50%;
            border: 2px solid $c-background;
            box-shadow: 0 0 0 2px $c-text;
            cursor: pointer;
        }

        > input:checked {
            background: $c-text;
        }

        > label {
            padding-left: 20px;
            flex-grow: 1;
            font: normal 400 20px / 24px $ff-primary;
            cursor: pointer;
        }

        input:checked + label {
            font-weight: 700;
        }
    }

    &__winter {
        flex: 0 0 194px;

        @media (max-width: $adaptive-mobile-limit) {
            flex: unset;
        }
    }

    &__spring {
        flex: 0 0 189px;

        @media (max-width: $adaptive-mobile-limit) {
            flex: unset;
        }
    }

    &__summer {
        flex: 0 0 206px;

        @media (max-width: $adaptive-mobile-limit) {
            flex: unset;
        }
    }

    &__autumn {
        flex: 0 0 111px;

        @media (max-width: $adaptive-mobile-limit) {
            flex: unset;
        }
    }
}

.books {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    opacity: 0;
    @extend %transition;

    @media (max-width: $adaptive-pad-limit) {
        justify-content: center;
    }

    &.active {
        z-index: 10;
        opacity: 1;
    }
}

.book {
    position: relative;
    min-height: 555px;
    max-height: 555px;
    min-width: 590px;
    max-width: 590px;
    padding-right: 40px;

    &__frame {
        display: flex;
        height: 100%;
        padding: 14px 19px 14px 19px;
        flex-direction: column;
        border: 1px solid $c-text;
        background: $c-background;
    }

    &__label {
        position: relative;
        font: normal 400 20px / 40px $ff-special;
        letter-spacing: 2px;
        text-transform: capitalize;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            border-bottom: 1px solid $c-colored;
        }
    }

    &__title {
        min-height: 40px;
        max-height: 40px;
        margin-top: 20px;
        font: normal 700 15px / 40px $ff-primary;
        letter-spacing: 2px;
        text-transform: uppercase;
        overflow: hidden;
    }

    &__author {
        min-height: 40px;
        max-height: 40px;
        font: normal 700 15px / 40px $ff-primary;
        letter-spacing: 2px;
        text-transform: capitalize;
        overflow: hidden;
    }

    &__text {
        margin-top: 20px;
        margin-right: 153px;
        flex-grow: 1;
        font: normal 400 15px / 40px $ff-primary;
        letter-spacing: 2px;
        text-transform: capitalize;
        overflow: hidden;
    }

    &__button {
        margin-top: 15px;
        align-self: flex-start;
    }

    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
    }
}
