.libcard {
    &__wrapper {
        padding: 20px 20px 40px 20px;
    }

    .title {
        padding-left: 2px; // correct design
    }

    &__cards {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
    }
}

.form {
    max-width: 600px;

    &__block-title {
        font: normal 400 30px / 36px $ff-primary;
        letter-spacing: 0.6px;
        text-align: center;
    }

    &__box {
        margin-top: 30px;
        padding: 17px 17px 27px;
        border: 3px solid $c-colored;
        background: $c-background;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &__inputs {
        padding: 20px 20px 0;
        background: $c-colored;
    }

    &__title {
        margin-bottom: 20px;
        font: normal 400 30px / 50px $ff-special;
        letter-spacing: 0.6px;
    }

    input {
        width: 100%;
        margin-bottom: 25px;
        padding: 8px 20px;
        color: $c-text;
        font: normal 400 30px / 50px $ff-special;
        letter-spacing: 0.6px;
        border-radius: 10px;
        background: $c-background;
        border: none;

        &::placeholder {
            color: $c-neutral;
        }
    }

    &__button {
        margin-top: 20px;
        text-align: center;
    }
}

.auth {
    &__title {
        font: normal 400 30px / 33px $ff-special;
        text-align: right;
        letter-spacing: 0.6px;
    }

    &__text {
        margin-top: 35px;
        font: normal 400 20px / 40px $ff-primary;
        text-align: right;
        letter-spacing: 0.4px;
    }

    &__buttons {
        display: flex;
        margin-top: 35px;
        gap: 20px;
        justify-content: flex-end;
    }
}
