.welcome {
    min-width: $desktop-content-width;
    color: $c-light;

    @media (max-width: $adaptive-pad-limit) {
        min-width: $pad-content-width;
    }

    &__wrapper {
        padding: 220px 840px 160px 0;
        background-image: url('../assets/img/welcome/welcome-background.jpg');
        background-size: cover;

        @media (max-width: $adaptive-pad-limit) {
            padding-right: 169px;
            background-image: url('../assets/img/welcome/welcome-background-pad.jpg');
        }
    }

    h2 {
        max-height: 220px;
        padding: 35px 40px;
        text-align: center;
        font: normal 400 40px / 50px $ff-special;
        letter-spacing: 3px;
        text-transform: uppercase;
        background-color: $c-light-dark;
        overflow: hidden;
    }
}
