.header {
    color: $c-light;

    &__wrapper {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        background-color: $c-light-dark;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.navigation {
    > ul {
        display: flex;
        gap: 30px;
        list-style: none;
        font: normal 400 20px / 50px $ff-primary;
        letter-spacing: 0.08px;
    }
}
