.header {
    min-width: $desktop-content-width;
    color: $c-light;

    &__wrapper {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        background-color: $c-light-dark;
    }

    h1 {
        max-width: 500px;
        max-height: 50px;
        overflow: hidden;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.navigation {
    > ul {
        display: flex;
        gap: 30px;
        list-style: none;
        font: normal 400 20px / 50px $ff-primary;
        letter-spacing: 0.08px;
        white-space: nowrap;

        > li {
            max-width: 130px;
            max-height: 50px;
            overflow: hidden;
        }
    }
}
