.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
    cursor: zoom-out;
}

.modal__inner {
    min-width: 80%;
    min-height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
