* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    transition: opacity 0.3s ease-out;
}

a:hover {
    opacity: 0.5;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    transition: all 0.3s ease-out;
}

.header {
}

.header__wrapper {
    display: flex;
    padding: 0 0 16px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.header__logo {
    display: flex;
    align-items: flex-end;
}

.header__logo img {
    /* margin-right: 16px; */
}

.header__logo h1 {
    font-size: 30px;
}

.header__search {
    position: relative;
}

.search__input {
    height: 40px;
    min-width: 260px;
    max-width: 260px;
    padding: 6px 40px 6px 10px;
    font-size: 18px;
    border: 2px solid #222;
    border-radius: 26px;
    outline: none;
}

.search__cross-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.search__cross-icon:hover {
    opacity: 0.5;
}

.images {
    flex-grow: 1;
}

.images__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.image__wrapper {
    overflow: hidden;
}

.images__image {
    min-width: 300px;
    min-height: 200px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
    cursor: zoom-in;
}

.images__image:hover {
    transform: scale(1.2);
}

.footer {
    background: #fff;
}

.footer__wrapper {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.footer p {
    flex-basis: 100px;
}

.footer a {
    display: flex;
}

.footer img {
    height: 20px;
}

.footer p:nth-child(2) {
    text-align: center;
}

.footer p:nth-child(3) a {
    justify-content: flex-end;
}

.footer p:nth-child(3) img {
    height: 40px;
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: 768px;
    }

    .images__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .images__wrapper div {
        min-height: 260px;
    }
}

@media (max-width: 768px) {
    .images__wrapper {
        grid-template-columns: 1fr;
    }

    .images__wrapper div {
        min-height: 300px;
    }

    .modal__inner {
        min-width: 100%;
        min-height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 640px) {
    .header__wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .images__wrapper div {
        min-width: 100%;
        min-height: 200px;
    }
}
