$desktop-content-width: 1440px;
$pad-content-width: 768px;
// $mobile-content-width: 375px;
// $mobile-content-width: 640px;
$mobile-content-width: 100%;

$adaptive-pad-limit: calc($desktop-content-width - 1px);
$adaptive-mobile-limit: calc($pad-content-width - 1px);


$c-light: #ffffff;
$c-dark: #000000;
$c-light-dark: #0c0c0e;
$c-neutral: #8e8e8e;
$c-colored: #bb945f;

$ff-inter: 'Inter', sans-serif;
$ff-forum: 'Forum', cursive;

// Abstractions
$c-background: $c-light;
$c-text: $c-dark;

$ff-primary: $ff-inter;
$ff-special: $ff-forum;