.button, a,
a:visited, .block2, .block1 {
  transition: all 0.3s ease-out;
}

@font-face {
  font-family: "Forum";
  src: url(../assets/fonts/Forum-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font: normal 400 30px/50px "Forum", cursive;
  letter-spacing: 0.6px;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #bb945f;
}

.icon {
  display: inline-block;
  cursor: pointer;
}

.icon_profile {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../assets/img/icon-profile.svg");
}

.button {
  min-width: 75px;
  padding: 8px 0;
  color: #0c0c0e;
  text-align: center;
  font: normal 700 10px/12px "Inter", sans-serif;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  cursor: pointer;
}
.button:hover {
  opacity: 0.7;
}
.button:disabled {
  opacity: 1;
  cursor: unset;
}
.button_colored {
  color: #bb945f;
  border-color: #bb945f;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  color: #ffffff;
}
.header__wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #0c0c0e;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation {
  display: flex;
  gap: 30px;
  font: normal 400 20px/50px "Inter", sans-serif;
  list-style: none;
  letter-spacing: 0.08px;
}

.welcome {
  padding: 220px 840px 160px 0;
  color: #ffffff;
  background-image: url("../assets/img/welcome-bg.jpg");
  background-size: cover;
}
.welcome h2 {
  padding: 35px 40px;
  text-align: center;
  font: normal 400 40px/50px "Forum", cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0c0c0e;
}

.about__wrapper {
  padding: 20px 20px 35px;
}
.about .subtitle {
  margin-bottom: 20px;
}
.about__image {
  /* display: block; */
  width: 450px;
  height: 560px;
}
.about__dots {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.about .layout-3-column {
  gap: 25px;
  overflow: hidden;
}

.dot {
  width: 26px;
  height: 26px;
  background-color: #0c0c0e;
  border-radius: 50%;
  border: 5px solid #ffffff;
  cursor: pointer;
}
.dot:not(.dot_active):hover {
  opacity: 0.7;
}
.dot_active {
  cursor: auto;
  opacity: 1;
  background-color: #bb945f;
}

.favorites__wrapper {
  padding: 20px 20px 40px;
}
.favorites__subtitle {
  margin-top: 40px;
  font: normal 700 20px/24px "Inter", sans-serif;
}
.favorites__seasons {
  max-width: 700px;
  margin-top: 40px;
}
.favorites__books {
  display: grid;
  max-height: 1150px;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
  gap: 40px 220px;
  overflow: hidden;
}

.seasons {
  display: flex;
  align-items: center;
  list-style: none;
}
.seasons > li {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.seasons > li > input {
  width: 13px;
  height: 13px;
  margin: 2px;
  appearance: none;
  -webkit-appearance: none;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 2px #000000;
  cursor: pointer;
}
.seasons > li > input:checked {
  background: #000000;
}
.seasons > li > label {
  padding-left: 20px;
  font: normal 400 20px/24px "Inter", sans-serif;
  cursor: pointer;
}
.seasons > li input:checked + label {
  font-weight: 700;
}
.seasons__winter {
  flex: 0 0 194px;
}
.seasons__spring {
  flex: 0 0 189px;
}
.seasons__summer {
  flex: 0 0 206px;
}
.seasons__autumn {
  flex: 0 0 111px;
}

.book {
  position: relative;
  padding-right: 40px;
}
.book__frame {
  display: flex;
  height: 100%;
  padding: 14px 19px 14px 19px;
  flex-direction: column;
  border: 1px solid #000000;
  background: #ffffff;
}
.book__label {
  position: relative;
  font: normal 400 20px/40px "Forum", cursive;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book__label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  border-bottom: 1px solid #bb945f;
}
.book__title {
  margin-top: 20px;
  font: normal 700 15px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.book__author {
  text-transform: capitalize;
}
.book__text {
  margin-top: 20px;
  margin-right: 153px;
  flex-grow: 1;
  font: normal 400 15px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book__button {
  margin-top: 15px;
}
.book__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
}

.shop__wrapper {
  padding: 20px 20px 40px 20px;
}
.shop__subtitle {
  margin-top: 40px;
  letter-spacing: 2px;
}
.shop__menus {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.menu__item {
  display: flex;
  align-items: center;
  gap: 59px;
}
.menu__name {
  flex: 1;
  font: normal 400 20px/40px "Inter", sans-serif;
  white-space: nowrap;
}
.menu__line {
  width: 100px;
  border-bottom: 1px solid #bb945f;
}
.menu__price {
  font: normal 400 20px/40px "Forum", cursive;
  text-align: right;
}
.menu_right {
  text-align: right;
}

.contacts__wrapper {
  padding: 20px 20px 40px 20px;
}
.contacts .title {
  padding-left: 2px;
}
.contacts__info {
  display: flex;
  max-height: 414px;
  margin-top: 40px;
  justify-content: space-between;
  overflow: hidden;
}

.contacts-info {
  font: normal 400 20px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts-info__title {
  margin-bottom: 40px;
  font-weight: 700;
}
.contacts-info__text {
  margin: 20px 0;
}
.contacts-info__text > strong {
  font-weight: 700;
}
.contacts-info__position {
  margin-top: 40px;
  font-weight: 700;
}
.contacts-info__map {
  width: 696px;
}

.title {
  position: relative;
  color: #0c0c0e;
  font: normal 400 40px/40px "Forum", cursive;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}
.title_underline {
  padding-bottom: 21px;
}
.title_underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  border-bottom: 1px solid #0c0c0e;
}
.title_colored {
  color: #bb945f;
}
.title_left {
  text-align: left;
}
.title_right {
  text-align: right;
}

.subtitle {
  margin: 40px 0;
  font: normal 400 20px/40px "Inter", sans-serif;
  text-align: center;
}

.layout-3-column {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
