.only-pad {
  display: none;
}
@media all and (max-width: 1439px) {
  .only-pad {
    display: initial;
  }
}
@media all and (max-width: 374px) {
  .only-pad {
    display: none;
  }
}

@media all and (max-width: 1439px) {
  .only-desk {
    display: none !important;
  }
}

.only-mobile {
  display: none;
}
@media all and (max-width: 374px) {
  .only-mobile {
    display: initial;
  }
}

.only-mobile-block {
  display: none;
}
@media all and (max-width: 374px) {
  .only-mobile-block {
    display: block;
  }
}

.non-desk {
  display: none;
}
@media all and (max-width: 1439px) {
  .non-desk {
    display: initial;
  }
}

@media all and (max-width: 374px) {
  .non-mobile {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1439px) {
  .non-pad {
    display: none;
  }
}

a,
a:visited, .navigation, .button, .icon {
  transition: all 0.3s ease-out;
}

@font-face {
  font-family: "Forum";
  src: url(../assets/fonts/Forum-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font: normal 400 30px/50px "Forum", cursive;
  letter-spacing: 0.6px;
}

.title {
  position: relative;
  color: #0c0c0e;
  font: normal 400 40px/40px "Forum", cursive;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}
.title_underline {
  padding-bottom: 21px;
}
.title_underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  border-bottom: 1px solid #0c0c0e;
}
.title_colored {
  color: #bb945f;
}
.title_left {
  text-align: left;
}
.title_right {
  text-align: right;
}

.subtitle {
  margin: 40px 0;
  font: normal 400 20px/40px "Inter", sans-serif;
  text-align: center;
}

.layout-3-column {
  display: flex;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.7;
}

.icon_profile {
  width: 28px;
  height: 28px;
  background-image: url("../assets/img/icons/icon-profile.svg");
}

.icon_burger {
  display: none;
  width: 45px;
  height: 22px;
  background-image: url("../assets/img/icons/icon-burger.svg");
}
@media (max-width: 1439px) {
  .icon_burger {
    display: block;
  }
}
.icon_burger-close {
  width: 45px;
  height: 32px;
  background-image: url("../assets/img/icons/icon-burger-pad.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.icon_twitter {
  background-image: url("../assets/img/icons/icon-twitter.svg");
}

.icon_instagram {
  background-image: url("../assets/img/icons/icon-instagram.svg");
}

.icon_facebook {
  background-image: url("../assets/img/icons/icon-facebook.svg");
}

.icon_carret-left {
  background-image: url("../assets/img/icons/icon-carret-left.svg");
}

.icon_carret-right {
  background-image: url("../assets/img/icons/icon-carret-right.svg");
}

.button {
  min-width: 75px;
  padding: 8px 0;
  color: #0c0c0e;
  font: normal 700 10px/12px "Inter", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  cursor: pointer;
}
.button:enabled:hover {
  border-color: #bb945f;
  background-color: #bb945f;
}
.button:disabled {
  cursor: unset;
}
.button_colored {
  color: #bb945f;
  border-color: #bb945f;
}
.button_big {
  padding: 9px 40px;
  font-size: 20px;
  line-height: 24px;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .wrapper {
    width: 768px;
  }
}

.header {
  min-width: 1440px;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .header {
    min-width: 768px;
  }
}
.header__wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #0c0c0e;
}
.header h1 {
  max-width: 500px;
  max-height: 50px;
  overflow: hidden;
}
.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation > ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font: normal 400 20px/50px "Inter", sans-serif;
  letter-spacing: 0.08px;
  white-space: nowrap;
}
@media (max-width: 1439px) {
  .navigation > ul {
    flex-direction: column;
    align-items: center;
  }
}
.navigation > ul > li {
  max-width: 130px;
  max-height: 50px;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .navigation {
    position: absolute;
    top: -3000px;
    right: -20px;
    padding: 10px 107px 100px;
    background-color: #0c0c0e;
  }
}
@media (max-width: 1439px) {
  .navigation_show {
    top: 70px;
  }
}

.footer {
  min-width: 1440px;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .footer {
    min-width: 768px;
  }
}
.footer__wrapper {
  padding: 20px 20px 44px;
  background-color: #0c0c0e;
}
@media (max-width: 1439px) {
  .footer__wrapper {
    padding: 20px 19px 44px;
  }
}
.footer__row {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.footer__row > p {
  text-align: right;
  font: normal 400 15px/20px "Inter", sans-serif;
}
.footer__row > p:nth-child(odd) {
  text-align: left;
}
.footer__row ul {
  display: flex;
  padding-left: 1px;
  align-items: center;
  gap: 15px;
  list-style: none;
}
.footer__splitter {
  margin: 29px 0 46px;
  border-bottom: 1px solid #ffffff;
}
.footer__credentials {
  display: flex;
  justify-content: space-between;
  font: normal 400 20px/20px "Inter", sans-serif;
  letter-spacing: 2px;
  white-space: nowrap;
}
@media (max-width: 1439px) {
  .footer__credentials {
    gap: 130px;
  }
}
.footer__credentials > p {
  flex: 0 0 300px;
}
@media (max-width: 1439px) {
  .footer__credentials > p {
    flex: auto;
  }
}
.footer__credentials > p:nth-child(3) {
  text-align: right;
}

.welcome {
  min-width: 1440px;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .welcome {
    min-width: 768px;
  }
}
.welcome__wrapper {
  padding: 220px 840px 160px 0;
  background-image: url("../assets/img/welcome/welcome-background.jpg");
  background-size: cover;
}
@media (max-width: 1439px) {
  .welcome__wrapper {
    padding-right: 169px;
    background-image: url("../assets/img/welcome/welcome-background-pad.jpg");
  }
}
.welcome h2 {
  max-height: 220px;
  padding: 35px 40px;
  text-align: center;
  font: normal 400 40px/50px "Forum", cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0c0c0e;
  overflow: hidden;
}

.about {
  min-width: 1440px;
}
@media (max-width: 1439px) {
  .about {
    min-width: 768px;
  }
}
.about__wrapper {
  padding: 20px 20px 35px;
}
.about .subtitle {
  margin-bottom: 20px;
}
.about__images {
  position: relative;
  display: flex;
  gap: 25px;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .about__images {
    padding: 0 139px;
    gap: 139px;
  }
}
.about__images::before {
  content: "";
  position: absolute;
  left: 57px;
  top: 288.5px;
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/icons/icon-carret-prev.svg");
  cursor: pointer;
}
@media (max-width: 1439px) {
  .about__images::before {
    display: block;
  }
}
.about__images::after {
  content: "";
  position: absolute;
  right: 57px;
  top: 288.5px;
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/icons/icon-carret-next.svg");
  cursor: pointer;
}
@media (max-width: 1439px) {
  .about__images::after {
    display: block;
  }
}
.about__images > img {
  width: 450px;
  height: 560px;
}
.about__dots {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
@media (max-width: 1439px) {
  .about__dots {
    margin-top: 20px;
  }
}

.dot {
  width: 26px;
  height: 26px;
  padding: 5px;
  background: content-box #0c0c0e;
  border-radius: 50%;
  cursor: pointer;
}
.dot:not(.dot_active):hover {
  opacity: 0.7;
}
.dot_active {
  cursor: auto;
  background-color: #bb945f;
}

.favorites {
  min-width: 1440px;
}
@media (max-width: 1439px) {
  .favorites {
    min-width: 768px;
  }
}
.favorites__wrapper {
  padding: 20px 20px 40px;
}
.favorites__subtitle {
  margin-top: 40px;
  font: normal 700 20px/24px "Inter", sans-serif;
}
.favorites__seasons {
  max-width: 700px;
  margin-top: 40px;
}
.favorites__books {
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
  gap: 40px 220px;
}
@media (max-width: 1439px) {
  .favorites__books {
    margin: 40px 69px 0;
    grid-template-columns: 1fr;
  }
}

.seasons {
  display: flex;
  align-items: center;
  list-style: none;
}
.seasons > li {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.seasons > li > input {
  width: 13px;
  height: 13px;
  margin: 2px;
  appearance: none;
  -webkit-appearance: none;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 2px #000000;
  cursor: pointer;
}
.seasons > li > input:checked {
  background: #000000;
}
.seasons > li > label {
  padding-left: 20px;
  flex-grow: 1;
  font: normal 400 20px/24px "Inter", sans-serif;
  cursor: pointer;
}
.seasons > li input:checked + label {
  font-weight: 700;
}
.seasons__winter {
  flex: 0 0 194px;
}
.seasons__spring {
  flex: 0 0 189px;
}
.seasons__summer {
  flex: 0 0 206px;
}
.seasons__autumn {
  flex: 0 0 111px;
}

.book {
  position: relative;
  min-height: 555px;
  max-height: 555px;
  min-width: 590px;
  padding-right: 40px;
}
.book__frame {
  display: flex;
  height: 100%;
  padding: 14px 19px 14px 19px;
  flex-direction: column;
  border: 1px solid #000000;
  background: #ffffff;
}
.book__label {
  position: relative;
  font: normal 400 20px/40px "Forum", cursive;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book__label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  border-bottom: 1px solid #bb945f;
}
.book__title {
  min-height: 40px;
  max-height: 40px;
  margin-top: 20px;
  font: normal 700 15px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
}
.book__author {
  min-height: 40px;
  max-height: 40px;
  font: normal 700 15px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  overflow: hidden;
}
.book__text {
  margin-top: 20px;
  margin-right: 153px;
  flex-grow: 1;
  font: normal 400 15px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  overflow: hidden;
}
.book__button {
  margin-top: 15px;
  align-self: flex-start;
}
.book__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
}

.shop {
  min-width: 1440px;
}
@media (max-width: 1439px) {
  .shop {
    min-width: 768px;
  }
}
.shop__wrapper {
  padding: 20px 20px 40px 20px;
}
.shop__subtitle {
  margin-top: 40px;
  letter-spacing: 1.97px;
}
.shop__menus {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .shop__menus {
    flex-direction: column;
    row-gap: 40px;
  }
}

@media (max-width: 1439px) {
  .menu {
    align-self: flex-start;
  }
}
@media (max-width: 1439px) {
  .menu:nth-child(2) {
    align-self: flex-end;
  }
}
.menu__title {
  margin-bottom: 40px;
}
.menu__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.menu__item {
  display: flex;
  max-width: 550px;
  align-items: center;
  gap: 59px;
}
.menu__name {
  flex: 1;
  font: normal 400 20px/40px "Inter", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}
.menu__line {
  width: 100px;
  border-bottom: 1px solid #bb945f;
}
.menu__price {
  font: normal 400 20px/40px "Forum", cursive;
  text-align: right;
}
.menu_right {
  text-align: right;
}

.contacts {
  min-width: 1440px;
}
@media (max-width: 1439px) {
  .contacts {
    min-width: 768px;
  }
}
.contacts__wrapper {
  padding: 20px 20px 40px 20px;
}
.contacts .title {
  padding-left: 2px;
}
.contacts__info {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .contacts__info {
    flex-direction: column;
    gap: 100px;
  }
}

.contacts-info {
  max-height: 414px;
  font: normal 400 20px/40px "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts-info a {
  color: #000000;
}
.contacts-info__title {
  max-height: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  overflow: hidden;
}
.contacts-info__text {
  max-height: 40px;
  margin-top: 20px;
  overflow: hidden;
}
.contacts-info__text > strong {
  font-weight: 700;
}
.contacts-info__position {
  max-height: 40px;
  margin-top: 40px;
  font-weight: 700;
  overflow: hidden;
}
.contacts-info__map {
  width: 696px;
}
@media (max-width: 1439px) {
  .contacts-info__map {
    margin: 0 auto;
  }
}

.libcard {
  min-width: 1440px;
}
@media (max-width: 1439px) {
  .libcard {
    min-width: 768px;
  }
}
.libcard__wrapper {
  padding: 20px 20px 40px 20px;
}
.libcard .title {
  padding-left: 2px;
}
.libcard__cards {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .libcard__cards {
    flex-direction: column;
    gap: 21px;
    align-items: center;
  }
}

.form {
  max-width: 600px;
}
.form__block-title {
  max-height: 36px;
  font: normal 400 30px/36px "Inter", sans-serif;
  letter-spacing: 0.6px;
  text-align: center;
  overflow: hidden;
}
.form__box {
  margin-top: 30px;
  padding: 17px 17px 27px;
  border: 3px solid #bb945f;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form__inputs {
  padding: 20px 20px 0;
  background: #bb945f;
}
.form__title {
  max-height: 50px;
  margin-bottom: 20px;
  font: normal 400 30px/50px "Forum", cursive;
  letter-spacing: 0.6px;
  overflow: hidden;
}
.form input {
  width: 100%;
  margin-bottom: 25px;
  padding: 8px 20px;
  color: #000000;
  font: normal 400 30px/50px "Forum", cursive;
  letter-spacing: 0.6px;
  border-radius: 10px;
  background: #ffffff;
  border: none;
}
.form input::placeholder {
  color: #8e8e8e;
}
.form__button {
  margin-top: 20px;
  text-align: center;
}

.auth {
  display: flex;
  max-width: 466px;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
}
@media (max-width: 1439px) {
  .auth {
    max-width: 600px;
    gap: 40px;
    align-items: center;
  }
}
.auth__title {
  font: normal 400 30px/33px "Forum", cursive;
  letter-spacing: 0.6px;
}
@media (max-width: 1439px) {
  .auth__title {
    text-align: center;
  }
}
.auth__text {
  font: normal 400 20px/40px "Inter", sans-serif;
  text-align: right;
  letter-spacing: 0.4px;
}
@media (max-width: 1439px) {
  .auth__text {
    text-align: center;
  }
}
.auth__buttons {
  display: flex;
  gap: 20px;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #bb945f;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
