@import './abstracts/variables';
@import './base/base';
@import './fonts.scss';

.wrapper {
    width: $desktop-content-width;
    margin: 0 auto;
}

a,
a:visited {
    color: $c-light;
    text-decoration: none;
}

a:hover {
    color: $c-colored;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: $c-light;
    background-color: $c-light-dark;

    h1 {
        font-family: $ff-forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.6px;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__navigation {
        display: flex;
        gap: 30px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        list-style: none;
    }
}

.icon {
    &_profile {
        display: block;
        width: 28px;
        height: 28px;
        background-image: url('../assets/img/icon-profile.svg');
    }
}

.welcome {
    padding: 220px 840px 160px 0;
    color: $c-light;
    background-image: url('../assets/img/welcome-bg.jpg');

    h2 {
        padding: 35px 40px;
        text-align: center;
        font-family: $ff-forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 3px;
        text-transform: uppercase;
        background-color: $c-light-dark;
    }
}

.title {
    position: relative;
    padding-bottom: 21px;
    color: $c-light-dark;
    font-family: $ff-forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;

    &_underline {
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 50px;
            transform: translateX(-50%);
            border-bottom: 1px solid $c-light-dark;
        }
    }
}

.subtitle {
    margin: 40px 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
}

.about {
    padding: 20px 20px 40px;

    .subtitle {
        margin-bottom: 20px;
    }

    &__image {
        /* display: block; */
        width: 450px;
        height: 560px;
    }

    &__dots {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        gap: 10px;
    }
}

.dot {
    width: 16px;
    height: 16px;
    background-color: $c-light-dark;
    border-radius: 50%;
    cursor: pointer;

    &_active {
        background-color: $c-colored;
        cursor: auto;
    }
}
