// Abstracts
@import './abstracts/variables';
@import './abstracts/responsive';
@import './abstracts/placeholders';
@import './abstracts/mixins';

// Base
@import './base/fonts';
@import './base/base';
@import './base/icons';
@import './base/buttons';

// Layouts
@import './layout/wrapper';
@import './layout/header';
@import './layout/footer';

// Components
@import './components/welcome';
@import './components/about';
@import './components/favorites';
@import './components/shop';
@import './components/contacts';
@import './components/libcard';

a,
a:visited {
    @extend %transition;
    color: $c-light;
    text-decoration: none;
}

a:hover {
    color: $c-colored;
}

.hide {
    display: none;
}
