:root {
    --player-width: 350px;
    --player-width-mobile: 320px;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    transition: opacity 0.3s ease-out;
}

a:hover {
    opacity: 0.5;
}

.wrapper {
    min-width: var(--player-width);
    max-width: var(--player-width);
    margin: 0 auto;
    transition: all 0.3s ease-out;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(10px);
    transition: all 0.3s ease-out;
}

.player__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.player {
    width: var(--player-width);
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.track__cover {
    height: 450px;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-out;
}

.track__controls {
    padding: 10px 20px 20px;
}

.track__artist {
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.track__title {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.player__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track__timings {
    display: flex;
    margin-bottom: 2px;
    justify-content: space-between;
    font-size: 13px;
}

.track__progress {
    height: 14px;
    width: 130px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 6px;
    overflow: hidden;
}

.track__bar {
    height: 100%;
    width: 0;
    background-color: deeppink;
    /* background-color: gray; */
}

.button {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url('assets/img/play.png');
}

.button.pause {
    background-image: url('assets/img/pause.png');
}

.button.prev {
    background-image: url('assets/img/backward.png');
}

.button.next {
    background-image: url('assets/img/forward.png');
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 50px;
    background: #fff;
}

.footer__wrapper {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.footer p {
    flex-basis: 100px;
}

.footer a {
    display: flex;
}

.footer img {
    height: 20px;
}

.footer p:nth-child(2) {
    text-align: center;
}

.footer p:nth-child(3) a {
    justify-content: flex-end;
}

.footer p:nth-child(3) img {
    height: 40px;
}

@media (max-width: 378px) {
    .wrapper {
        min-width: var(--player-width-mobile);
        max-width: var(--player-width-mobile);
    }

    .track__cover {
        height: 250px;
    }

    .player {
        width: var(--player-width-mobile);
    }
}
