html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-primary;
    color: $c-text;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font: normal 400 30px / 50px $ff-special;
    letter-spacing: 0.6px;
}

.title {
    position: relative;
    color: $c-light-dark;
    font: normal 400 40px / 40px $ff-special;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;

    &_underline {
        padding-bottom: 21px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 50px;
            transform: translateX(-50%);
            border-bottom: 1px solid $c-light-dark;
        }
    }

    &_colored {
        color: $c-colored;
    }

    &_left {
        text-align: left;
    }

    &_right {
        text-align: right;
    }
}

.subtitle {
    margin: 40px 0;
    font: normal 400 20px / 40px $ff-primary;
    text-align: center;
}

.layout-3-column {
    display: flex;
    // justify-content: space-between;
}
