.button {
    min-width: 75px;
    padding: 8px 0;
    color: $c-light-dark;
    text-align: center;
    font: normal 700 10px / 12px $ff-default;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid $c-light-dark;
    cursor: pointer;
    @extend %transition;

    &:enabled:hover {
        border-color: $c-colored;
        background-color: $c-colored;
    }

    &:disabled {
        // opacity: 1;
        cursor: unset;
    }

    &_colored {
        color: $c-colored;
        border-color: $c-colored;
    }

    &_big {
        padding: 9px 40px;
        font-size: 20px;
        line-height: 24px;
    }
}
