.icon {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    @extend %transition;

    &:hover {
        opacity: 0.7;
    }
}

.icon_profile {
    width: 28px;
    height: 28px;
    background-image: url('../assets/img/icons/icon-profile.svg');
}

.icon_burger {
    display: none;
    width: 45px;
    height: 22px;
    background-image: url('../assets/img/icons/icon-burger.svg');

    @media (max-width: $adaptive-pad-limit) {
        display: block;
    }

    &-close {
        width: 45px;
        height: 32px;
        background-image: url('../assets/img/icons/icon-burger-pad.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.icon_twitter {
    background-image: url('../assets/img/icons/icon-twitter.svg');
}

.icon_instagram {
    background-image: url('../assets/img/icons/icon-instagram.svg');
}

.icon_facebook {
    background-image: url('../assets/img/icons/icon-facebook.svg');
}

.icon_carret-prev {
    background-image: url('../assets/img/icons/icon-carret-prev.svg');
}

.icon_carret-next {
    background-image: url('../assets/img/icons/icon-carret-next.svg');
}
